
/*Peticion y muestra de datos*/


.contenedor-principal{
    overflow: hidden; 
}

.contenedor-datos{
     float: left;
    width: 30%;
    padding: 10px 60px; 
    padding-top: 6%;
    text-align: center;
}

fieldset{
    border-radius: 10%;
}

.grafica{
    float: right;
    padding-right: 20px;
    margin-right: 20px;
    width: 60%;
}

/*Texto principal*/

.m-b-md {
    margin-bottom: 0px;
}

.ayuda-legend{
    font-weight: bold;
    text-align: left;
}

/*Comentarios*/
.text-com{
    margin: 20px 0px 0px 0px !important;
    
}

.comentario{

    text-align: center;
    overflow: hidden; 
}

.collapsible {
    background-color: #ffffff;
    color: #000;
    cursor: help;
    padding: 18px;
    width: 100%;
    border: #c12727;
    text-align: left;
    outline: black;
    font-size: 15px;
    border-radius: 5%;
    font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ffffff;
  font-weight: bold;
}

/* Style the collapsible content. Note: hidden by default */
.content1 {
    background-color: #eae4e4;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: #000000;
    text-align: -webkit-left;
    font-weight: bold;
}